@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$backcolor:black;
$color:white;

body {
    background-color: $backcolor;
}
.titulo{
    color: $color;
}

p{
    font-family: 'Oswald', sans-serif;
}